/* (aprendi agora) Reset básico para remover margens padrão do html */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /*(aprendi agora) uso para que o vídeo fique atrás de todo o conteúdo, como numa espécie de camada*/
  overflow: hidden; /* (aprendi agora) uso para esconder qualquer parte do vídeo que exceda a tela */
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* (aprendi agora) garante que o vídeo cubra todo o espaço como o cover, porém cortando o excesso se necessário, sem distorcer a imagem */
}

/* Conteúdo sobre o vídeo*/
.content {
  position: relative;
  z-index: 1; /* (aprendi agora) uso para o conteúdo fique na frente do vídeo */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.content h1 {
  font-family: "Cinzel", serif;
  text-shadow: 2px 2px 4px #858282;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content p {
  font-family: "Cinzel", serif;
  text-shadow: 2px 2px 4px #858282;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.botao {
  font-family: "Cinzel", serif;
  text-shadow: 2px 2px 4px #858282;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.botao:hover {
  background-color: white;
  color: black;
}
