    body
        {
        min-height:  100vh;
        background: url(Img/pexels-marta-nogueira-589022975-17511959\ \(1\).jpg) no-repeat center;
        background-size: cover;}

    h1{
        color: white;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 40px;
        text-shadow: 2px 2px 4px #665f5f;
        margin-top : 200px;
        margin-bottom: 0%;}
    
    h2{color: rgb(38, 17, 17);
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 23px;margin-top: 0;
         margin-top: 40px;}
    
    
    .cardapio-container {
    background: rgba(255,255,255,0.95);
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.18);
    max-width: 700px;
    margin: 40px auto 40px auto;
    padding: 32px 32px 24px 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
@media (max-width: 1440px) and (max-height: 900px) {
    .cardapio-container {
        max-width: 600px;    /* ou ajuste conforme preferir */
        width: 95%;
        padding: 24px 10px 20px 10px;
    }
    h1 {
        margin-top: 170px;   /* ajuste para caber melhor na tela */
        font-size: 32px;
    }
}